<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://switchyapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>switchyapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>switchyapp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$switchyapp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="flowswitch_dbEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=bfj6kfkfzw.database.windows.net;Initial Catalog=flowswitch_db;Persist Security Info=True;User ID=switchyadmin;Password=#Slaclab94025;Application Name=EntityFramework" Name="Data Source=bfj6kfkfzw.database.windows.net;Initial Catalog=flowswitch_db;Persist Security Info=True;User ID=switchyadmin;Password=#Slaclab94025;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FlowswitchApplication.Models.flowswitch_dbEntities, FlowswitchApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=bfj6kfkfzw.database.windows.net;Initial Catalog=flowswitch_db;Persist Security Info=True;User ID=switchyadmin;Password=#Slaclab94025;Application Name=EntityFramework" Name="Data Source=bfj6kfkfzw.database.windows.net;Initial Catalog=flowswitch_db;Persist Security Info=True;User ID=switchyadmin;Password=#Slaclab94025;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FlowswitchApplication.Models.ApplicationDbContext, FlowswitchApplication" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=bfj6kfkfzw.database.windows.net;Initial Catalog=flowswitch_db;Persist Security Info=True;User ID=switchyadmin;Password=#Slaclab94025;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)flowswitch_dbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.FlowswitchModel.csdl|res://*/Models.FlowswitchModel.ssdl|res://*/Models.FlowswitchModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=bfj6kfkfzw.database.windows.net;Initial Catalog=flowswitch_db;Persist Security Info=True;User ID=switchyadmin;Password=#Slaclab94025;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>